@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body{
    font-family: 'Open Sans', sans-serif;
    margin: auto;
    font-size:16px;
    width: 1200px;
    background: #F0F0E8
}header h1{
    font-size: 78px;
    color: #009288;
    margin: 30px 0px;
    text-align: center;
    
}header p{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}section{
    width: 220px;
    display: inline-block;
    text-align: center;
    margin-left: 57px;
    margin-top: 50px;
    border-left: 10px solid transparent 
}section:hover{
    background: #F6F6F5;
    cursor: pointer;
    border-left: 10px solid #009288
}